thead, tfoot
{
    font-weight: bold;
    text-align:center;
}
table
{	
	font: 15px Calibri;
	margin: 5px auto;
 	width: 90%;
   
}
td {
	padding: 5px 10px;
	border-bottom: 1px solid black;
}

.tableheader td, tfoot{ text-align: left; background: #000; color:#FFF;}
